body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}
.favButton .imgFav{
  border: none;
  width: 20px;
}

.favButton:hover{
  background-color: #9fdcdc;
}

h1{
  text-align: center;
  margin: 0;
  padding: 21px;
}

nav{
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  padding: 1rem;
  background-color: #f1f1f1;
  flex-wrap: wrap;
}

.red{
 color: red;
}

.logo{
  display: flex;
  align-items: center;
}

.logo b{
  font-size: 24px;
}

.logo img{
  height: 50px;
}

.menu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu b{
  padding: 0px 20px;
}


.button-nav {
  border: none;
  background-color: unset;
  margin-top: 4px;
}

.button-nav > img{
  width: 35px;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

.form{
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  width: 300px;
  height: 310px;
  margin: 0 auto;
}

.loading{
  width: 100%;
  display: inline-flex;
}

.loading img{
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background-color 0.3s;
}

p.success {
  color: #60b175fc;
  font-weight: bold;
  text-align: center;
}

p.error {
  color: #f77171;
  font-weight: bold;
  text-align: center;
}
.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card img {
  width: 100%;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  gap: 1rem;
  width: 70vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 60px;
}
.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 60px;
}

table {
  width: 70vw;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: black;
}

.detail {
  height: 480px;
}

.dark{
  background-color: #12121296;
  color: white;
}

.dark > a, .dark h3 {
  color: white;
}

.dark .favButton{
  background-color: #615e5e96;
}

.light {
  background-color: white;
  color: black;
}


nav.light {
  background-color: #f1f1f1;
}

nav.dark a {
  color: white;
}

nav.dark {
  background-color: black;
}

.footer.dark {
  background-color: #000000c2;
}

.light > a {
  color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f1f1f1;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.footer-logo img {
  height: 50px;
  padding: 0px 10px;
}

.footer-social a {
  margin-left: 10px;
}

.footer-social img {
  height: 30px;
  padding: 0px 10px;
}

@media (max-width: 977px) {
  .card-grid {
    justify-content: space-around;
  }
}